<template>
  <div class="article">
    <h1>Factors other than frequency response</h1>
    <section>
      <p>This article collected factors that may affect sounds to your ear <b>physically</b> other than frequency response measured by a IEC711(IEC60318-4) or similar measurement rig (coupler). Some of them are not proven and suspicious, <b>please judge them by yourself.</b></p>
    </section>
    <section>
      <h2>■ Distortion And Noise</h2>
      <p>This is a widely recognized factor, while frequency response tell you the SPL (Sound Pressure Level) of each frequency, the actual sound pressure are combined with the specific frequency, harmonics and noise. For example if IEM/Headphone received a 100Hz electrical signal, it may produce 100Hz sound wave and 200Hz sound wave (2nd harmonic distortion) and 300Hz sound wave (3rd harmonic distortion) and 1234Hz sound wave (noise), combine them will gives a SPL value for 100Hz. Distortion and noise are a part of SPL but until you saw the distortion graph you will not know the percentage of them. Notice distortion graph may not be accurate because mesurement rigs have their own errors and measure in a noisy environment will produce higher values.</p>
      <div><img src="/img/factors-other-than-frequency-response/fr.jpg" alt="fr"></img></div>
      <div><img src="/img/factors-other-than-frequency-response/distortion.jpg" alt="distortion"></img></div>
    </section>
    <section>
      <h2>■ Decay</h2>
      <p>Decay describe how long the sound wave could remain in the ear after the transducer stopped producing them. For example if a IEM produce 50Hz sound wave then stop, you may still hear it in 100ms. Decay are not on the frequency response graph, but it's not an important factor for IEMs (especially deep ineserted) because there will be much less reflections inside the ear. Notice SPL will also affects decay, if you want to compare decay between IEM/Headphones you need to adjust them to a similar loudness.</p>
      <div><img src="/img/factors-other-than-frequency-response/decay.jpg" alt="decay"></img></div>
    </section>
    <section>
      <h2>■ Phase</h2>
      <p>Phase response tells you how much the sound wave produced by the transducer shifted from the original wave, you can understand it as "the delay of each frequency". If a transducer can reproduce sound wave with zero delay for all frequencies then it has flat phase which will be a flat line stay at 0 deg on the graph, although it's impossible in the real world. For IEM/Headphones the phase shift is small enough that people call them "Minimal Phase Device", still it's possible that some multi-driver IEMs (with crossover) cause more delay for part of frequencies, or unit variations cause phase imbalance for left and right channel, or a balanced cable that reversed positive and negative pins for one of the channel which cause competely out of phase. You won't see phase response on a frequency response graph, though you could see it on a impulse response graph.</p>
      <div><img src="/img/factors-other-than-frequency-response/phase-shift.jpg" alt="phase shift example from matterofmath.com"></img></div>
      <div><img src="/img/factors-other-than-frequency-response/phase-response.jpg" alt="phase response"></img></div>
      <p>Group delay will affected by both phase delay and decay, some people claim it's inaudible but they only simulated the delay to test it and ignore physical effects of reflections, some reviewer (like amir and solderdude) post them anyway and leave you to judge.</p>
      <div><img src="/img/factors-other-than-frequency-response/1more-gd.png" alt="1more group delay"></img></div>
      <div><img src="/img/factors-other-than-frequency-response/he400se-gd.png" alt="he400se group delay"></img></div>
    </section>
      <h2>■ Treble Inaccuracy</h2>
      <p>A IEC711(IEC60318-4) coupler (Ear Simulator) only accurate from 100Hz to 10000Hz according to their specification, frequency below 100Hz and above 10000Hz may not matched to human ear. That mean only 100Hz~10000Hz part of an IEM frequency response graph is trustworly. The other factor is resonant peak, most IEM will have a 8kHz resonant peak (you can play a tone generator to check which frequency has the highest amplitude between 5~15kHz, for most IEM it's around 8kHz), insert the IEM deeper will push the resonant peak to higher frequency, and shallow fit the iem  will pull the resonant peak to lower frequency. Most reviewer will try to adjust the resonant peak at 8kHz when measuring IEMs by push or pull the IEM nozzle from the coupler, so most IEMs will peak at 8kHz on their database, that's good for comparing but also misled people that IEMs will have same resonant peak location. In fact different IEMs can have different resonant peak location to same people, and same IEM can have different resonant peak location to different people, people have to play tone generator (or put a mini microphone inside ear canal) with the actual IEM to find out the actual response of treble. Notice it doesn't mean the treble on the graph is meaningless, if the peak location on the graph matched to your ear, then the rest part is likely matched to your ear too.</p>
      <div><img src="/img/factors-other-than-frequency-response/b2.png" alt="blessing 2"></img></div>
    <section>
    </section>
    <section>
      <h2>■ Leak Tolerance</h2>
      <p>A IEM will seal perfectly to a coupler because the jig (the nozzle) of coupler is ... rounded, but the iem may not seal perfectly in your ear since the shape of human ear canal is complex. IEMs with less change of frequency response when sealed poorly are considered has better "leak tolerance". Although not proven, DD/Planar drivers seem to be more leak tolerant than BA drivers (also mentioned in sonion's <a href="https://www.sonion.com/wp-content/uploads/Documentation_Designing_Earphones.pdf"  target="_blank">documentation</a>). Rtings has frequency consistency measurement and diyaudiohaven has seal breaking test, they did not cover most IEMs but you can check them if interested.</p>
      <div><img src="/img/factors-other-than-frequency-response/iem-in-coupler.jpg" alt="iem in coupler from techpowerup"></img></div>
      <div><img src="/img/factors-other-than-frequency-response/consistency.png" alt="consistency from rtings"></img></div>
    </section>
    <section>
      <h2>■ Shell Leakage</h2>
      <p>Shell leakage is other factor that could make a difference to preceived sounds yet not visible on the frequency response graph. By default, a coupler only measures sound wave comes out from the nozzle of the IEM, and the sound wave comes out from the shell of the IEM are blocked by the steel body of the coupler. We know IEMs will not seal prefectly in human ear, sounds leak from the shell could reach to your eardrum through the gap or penetrate flesh and bone of your ear. Shell leakage is measurable by put the side of the IEM on the coupler and use putty to seal it (keep the nozzle out of coupler and do not block it), from my personal measurement cheap IEMs tend to have inadequate shell leakage control.</p>
      <div><img src="/img/factors-other-than-frequency-response/shell_leakage_z1r.jpg" alt="z1r shell leakage"></img></div>
      <div><img src="/img/factors-other-than-frequency-response/shell_leakage_aonic4.jpg" alt="aonic4 shell leakage"></img></div>
      <div><img src="/img/factors-other-than-frequency-response/shell_leakage_ola.jpg" alt="ola shell leakage"></img></div>
    </section>
    <section>
      <h2>■ Distortion From Infrasonic</h2>
      <p>Most frequency response graph only show you 20Hz~20000Hz, infrasonic (<20Hz) could play a role if distortion is high enough or you could actually hear frequencies below 20Hz. While the infrasonic itself is mostly inaudible, the distortion of infrasonic will reach above 20Hz. You may have experience that bass become "dirty" and "muddy" after using EQ to boost it, and other IEMs have same bass shelf still sound "clean", the infrasonic and the distortion of it could be the reason. I encouted this issue when EQ OLA's bass up, and I fixed it by putting a peak filter at 15Hz to cut infrasonic down (my dsp software doesn't support lowcut, otherwise lowcut at 20Hz should be ideal).</p>
      <div><img src="/img/factors-other-than-frequency-response/infrasonic-distortion.jpg" alt="infrasonic distortion"></img></div>
    </section>
    <section>
      <h2>■ Uneven Air Pressure Distribution</h2>
      <p>This part is quite suspicious, read it carefully. Inside the IEC711(IEC60318-4) coupler there is one condenser microphone that records sound waves and report it as a scalar to the audio interface for each sampling time point, meanwhile the composition of human ear is much complex than a condenser mic, first the sound wave will reach eardrum by air pressure, then eardrum pass the vibration though ossicles to the oval window, finally the cochlea close to oval window convert the vibration as nerve signal to the brain. Theoretically air pressure hits different place of the eardrum could cause different level of vibrations, which results different preceived SPL in the brain. If a transducer can reproduce more "diffusely" wave then it's more likely to make the brain recognize a given sound pressure accurately. We can observe it by build a martix of mini microphones inside the coupler, and check if they received equally distributed air pressure.</p>
    </section>
    <section>
      <h2>■ Vibration To Skin</h2>
      <p>This part is also suspicious. There is a frequently asked question, is deaf people able to feel the sound though vibrations to their skin? Many deaf people <a href="https://www.quora.com/Can-people-who-are-deaf-hear-vibrations-or-only-feel-them" target="_blank">anwser yes</a> to this question, which mean we are not only feeling the music from the eardrum, vibrations to the skin can also send some information to our brain. Generally the level of vibrations should be speaker &gt; headphone &gt; shallow fit IEMs &gt; deep inserted IEMs, you can see harman has much more bass for IEM than Headphone than Diffuse Target (which should equal to a speaker for HATS), people feel more "punch and slam" from speakers even speaker has much less bass on the frequency response graph. Unfortunately the effects of vibration to skin are difficult to measure, unless someone can identify and measure nerve signals associated with this effect.</p>
      <div><img src="/img/factors-other-than-frequency-response/harman.jpg" alt="harman"></img></div>
    </section>
    <section>
      <h2>■ Summary</h2>
      <p>I put them in a graph, as you can see the frequency response measured by a measurement rig is very poorly, and it probably "contributes" to the sound you heard mentally. Some people claim you can get the personal frequency response that competely matched to your HRTF by put a very small mic inside your ear, that still not true because it only measures pressure at a place "closed" to eardum which ignored what internal ear actually received, and the mic itself will change frequency response, the wire will break the seal which also change frequency response, you will probably never saw an graph that actually matched to your ear. Also some people claim Headphone and IEM are "Minimum Phase Device" so only frequency response matter, first it's not proven by measured brain neural signals, second they will never show you a graph that actually represents everything to a human. You should know data is just data, you better trust your ear and decide which gear you want to get by giving them a demo.</p>
      <div><img src="/img/factors-other-than-frequency-response/summary.png" alt="summary" style="width: 792px;"></img></div>
      <p><b>And the end, placebo is all!!</b></p>
    </section>
  </div>
</template>
<script>
export default {
  head () {
    return {
      title: this.$config.title_prefix + 'Factors other than frequency response'
    }
  }
}
</script>
<style>
  .article img {
    width: 300px;
    height: auto;
  }
</style>
