<template>
  <div class="article">
    <h1>Quit IEF (In-Ear Fidelity) server and stop updates of my work</h1>
    <section>
      <p>I decided to quit IEF (In-Ear Fidelity) server and stop updates of all code I wrote under this account, in addition I will also terminate the support of these tools. It's a hard decision but I have no choice, there are some issues in IEF server that cannot be overlooked, and sadly I got hit by one of the issue due to my lack of caution. I'm goining to post some screenshot I take from the IEF server, notice I have no harmful intension, IEF still a great place for audio help, most people in there is kind, but you should follow the TRUE RULES below, don't make the same mistake like me.</p>
      <p>THE TRUE RULES OF IEF SERVER:</p>
      <ul>
        <li>1. Don't post weebs</li>
        <li>2. Don't talk to any mod</li>
      </ul>
    </section>
    <section>
      <h2>■ Mods frequently insult members</h2>
      <p>IEF is a place that mods can frequently insult members, if you join there you should be prepared they joke about your mother.</p>
      <div><img src="/img/quit-ief-and-stop-updates/01.jpg" alt=""></img></div>
      <div><img src="/img/quit-ief-and-stop-updates/02.jpg" alt=""></img></div>
      <div><img src="/img/quit-ief-and-stop-updates/03.jpg" alt=""></img></div>
      <div><img src="/img/quit-ief-and-stop-updates/04.jpg" alt=""></img></div>
      <div><img src="/img/quit-ief-and-stop-updates/05.jpg" alt=""></img></div>
    </section>
    <section>
      <h2>■ Ban because you talk to mods</h2>
      <p>It's better do not talk to mods if you don't know how to simp them.</p>
      <div><img src="/img/quit-ief-and-stop-updates/06.jpg" alt=""></img></div>
      <div><img src="/img/quit-ief-and-stop-updates/07.jpg" alt=""></img></div>
      <div><img src="/img/quit-ief-and-stop-updates/08.jpg" alt=""></img></div>
    </section>
    <section>
      <h2>■ Ban because you have not based opinion</h2>
      <p>Do not try to say something is bad when mod is watching and he doesn't support you opinion. It depends on their moods though because you can say the samething freely in the other day if they based you.</p>
      <div><img src="/img/quit-ief-and-stop-updates/09.jpg" alt=""></img></div>
      <div><img src="/img/quit-ief-and-stop-updates/10.jpg" alt=""></img></div>
      <div><img src="/img/quit-ief-and-stop-updates/11.jpg" alt=""></img></div>
      <div><img src="/img/quit-ief-and-stop-updates/12.jpg" alt=""></img></div>
    </section>
    <section>
      <h2>■ Ban because they want to make fun of you</h2>
      <p>It's randomly but yeah it happends.</p>
      <div><img src="/img/quit-ief-and-stop-updates/13.jpg" alt=""></img></div>
    </section>
    <section>
      <h2>■ Do not try to say "I haven't said anything bad"</h2>
      <p>This one is pretty predictable, if you find out mod not based your opinion you better run away immediately.</p>
      <div><img src="/img/quit-ief-and-stop-updates/14.jpg" alt=""></img></div>
      <div><img src="/img/quit-ief-and-stop-updates/15.jpg" alt=""></img></div>
    </section>
    <section>
      <h2>■ Do not try to get high</h2>
      <p>The hidden rule is put your head down.</p>
      <div><img src="/img/quit-ief-and-stop-updates/16.jpg" alt=""></img></div>
    </section>
    <section>
      <h2>■ Do not ask for justice</h2>
      <p>Obviously it doesn't exists in IEF server.</p>
      <div><img src="/img/quit-ief-and-stop-updates/17.jpg" alt=""></img></div>
      <div><img src="/img/quit-ief-and-stop-updates/18.jpg" alt=""></img></div>
      <div><img src="/img/quit-ief-and-stop-updates/19.jpg" alt=""></img></div>
      <div><img src="/img/quit-ief-and-stop-updates/20.jpg" alt=""></img></div>
      <div><img src="/img/quit-ief-and-stop-updates/21.jpg" alt=""></img></div>
    </section>
    <section>
      <h2>■ The reason of my death warrant</h2>
      <p>I made a big mistake by talk to the mod that not support my opinion.</p>
      <div><img src="/img/quit-ief-and-stop-updates/22.jpg" alt=""></img></div>
      <div><img src="/img/quit-ief-and-stop-updates/23.jpg" alt=""></img></div>
      <div><img src="/img/quit-ief-and-stop-updates/24.jpg" alt=""></img></div>
      <p>But you know other mod just said the same thing the other day.</p>
      <div><img src="/img/quit-ief-and-stop-updates/25.jpg" alt=""></img></div>
      <p>Since my accuont is protected by the vip role, they can't ban me immediately, but as I know it's not a place you can stay if one of the mod start dislike you, so I have no choice but leaving.</p>
    </section>
    <section>
      <h2>■ IEF still a great place</h2>
      <p>Like I said at the beginning, IEF still a great place for audio help, most people in there is kind, but you should restrict activities in there to avoid unnecessary insult or ban. If you prefer audio server with less restrictions you can check <a href="https://discord.com/invite/ZBpXZnp" target="_blank">Super Review</a>, <a href="https://discord.com/invite/CB9kw68" target="_blank">Banbeumas</a> or <a href="https://discord.com/invite/shenzhenaudio" target="_blank">Shenzhen Audio</a> server.</p>
    </section>
  </div>
</template>
<script>
export default {
  head () {
    return {
      title: this.$config.title_prefix + 'Quit IEF (In-Ear Fidelity) server and stop updates of my work'
    }
  }
}
</script>
<style>
  .article img {
    width: 300px;
    height: auto;
  }
</style>
