<template>
  <div class="find-similar-page">
    <section v-if="error">
      <p class="error">Error: {{ error }}</p>
    </section>
    <section v-if="!error && !info">
      <Loading />
    </section>
    <section v-if="!error && info">
      <div class="description">
        <h1>Tool for finding similar IEM/Headphones.</h1>
        <p>Database: <span class="database-name">{{ info.name }}</span></p>
        <p>Official Website: <a :href="info.official_url">{{ info.official_url }}</a></p>
      </div>
      <div class="base-model">
        <h2>Select a base model:</h2>
        <b-input v-model="filter" @input="updateBaseOptions" class="filter" placeholder="Enter keywords here, for example: moondrop"></b-input>
        <b-select v-model="baseName" @input="updateTargetOptions" native-size="5">
          <option v-for="o of baseOptions" :key="o.value" :value="o.value">{{ o.label }}</option>
        </b-select>
      </div>
      <div class="target-model">
        <h2>Similar models, select a target to preview:</h2>
        <p v-show="targetOptions.length == 0">Nothing Found</p>
        <b-select v-show="targetOptions.length > 0" v-model="targetName" @input="targetSelected" native-size="5">
          <option v-for="o of targetOptions" :key="o.value" :value="o.value">{{ o.label }}</option>
        </b-select>
      </div>
      <div class="preview">
        <h2>Preview:</h2>
        <p v-show="!previewUrl">No Preview</p>
        <iframe v-if="info.iframe_available && previewUrl" class="preview-frame" :src="previewUrl"></iframe>
        <div v-if="!info.iframe_available && previewUrl">
          <p>Iframe not available, open this link to preview:</p>
          <div><a :href="previewUrl" target="_blank">{{ previewUrl }}</a></div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import FindSimilarInfo from "../../data/find_similar.json"

export default {
  name: 'FindSimilarPage',

  head () {
    return {
      title: this.$config.title_prefix + 'Find Similar IEM/Headphones'
    }
  },

  data () {
    return {
      error: null,
      info: null,
      data: null,
      dataMap: null,
      dataParamMap: null,
      filter: null,
      baseOptions: [],
      baseName: null,
      targetOptions: [],
      targetName: null,
      previewUrl: null
    }
  },

  async created () {
    await this.loadDatabase()
    if (this.error) {
      return
    }
    this.updateBaseOptions()
    this.updateTargetOptions()
    this.targetSelected()
  },

  methods: {
    async loadDatabase () {
      this.error = null

      const query = this.$route.query
      if (!query.db || !FindSimilarInfo[query.db]) {
        this.error = 'Database Not Found'
        return
      }

      const info = FindSimilarInfo[query.db]
      const resp = await this.$axios.get(info.datasource)
      if (resp.status != 200) {
        this.error = `Load Database Error: ${resp.data}`
        return
      }

      this.info = info
      this.data = resp.data
      this.dataMap = {}
      this.dataParamMap = {}
      this.data.forEach(x => {
        this.dataMap[x.name] = x
        this.dataParamMap[x.param] = x
      })
      this.baseName = null
      this.targetName = null
      if (query.base && this.dataParamMap[query.base]) {
        this.baseName = this.dataParamMap[query.base].name
        if (query.target && this.dataParamMap[query.target]) {
          this.targetName = this.dataParamMap[query.target].name
        }
      }
    },

    updateBaseOptions () {
      const baseOptions = []
      const filter = (this.filter || "").toLowerCase()
      this.data.forEach(x => {
        if (filter && x.name.toLowerCase().indexOf(filter) < 0) {
          return
        }
        baseOptions.push({ label: x.name, value: x.name })
      })
      this.baseOptions = baseOptions
    },
    
    updateTargetOptions () {
      this.targetOptions = []
      if (!this.baseName) {
        return
      }
      const baseInfo = this.dataMap[this.baseName]
      if (!baseInfo) {
        return
      }
      if (this.targetName && baseInfo.similar_to.indexOf(this.targetName) < 0) {
        this.targetName = null
      }
      const targetInfo = this.targetName && this.dataMap[this.targetName]
      this.$replaceQuery({
        base: baseInfo.param,
        target: targetInfo && targetInfo.param || undefined
      })
      this.targetOptions = baseInfo.similar_to.map((t, i) =>
        ({ label: `${t} (Distance: ${baseInfo.distances[i]})`, value: t }))
      this.previewUrl = null
    },

    targetSelected () {
      this.previewUrl = null
      if (!this.baseName || !this.targetName) {
        return
      }
      const baseInfo = this.dataMap[this.baseName]
      const targetInfo = this.dataMap[this.targetName]
      if (!baseInfo || !targetInfo) {
        return
      }
      this.$replaceQuery({ base: baseInfo.param, target: targetInfo.param })
      const baseParam = encodeURIComponent(baseInfo.param)
      const targetParam = encodeURIComponent(targetInfo.param)
      this.previewUrl = `${this.info.share_url}${baseParam},${targetParam}` 
    }
  }
}
</script>

<style>
.find-similar-page select,
.find-similar-page input {
  max-width: 600px;
  width: 100%;
  height: auto;
}
.find-similar-page .select {
  width: 100%;
  height: auto;
}
.find-similar-page .select::after {
  display: none !important;
}
.find-similar-page .preview-frame {
  border: 1px solid #ccc;
  width: 100%;
  max-width: 600px;
  height: 800px;
}
</style>

