<template>
  <div class="predict-placebo-page">
    <section class="description">
      <img class="placebo-img" src="/img/placebo_small.png" alt="placebo"></img>
      <p>
        This is an AI (Deep learning model trained from Crinacle's ranking with about 900 iems and 4000 data samples) predicts tonality and technicality from frequency response.<br />
        <b>Don't take it seriously, it's a machine, it only has machinery placebo.</b>
      </p>
    </section>
    <section class="upload">
        <b-upload v-model="files" @input="fileUploaded" class="file-label" accept=".txt,.csv"
          required multiple validationMessage="Please select a file">
          <span class="file-cta">
            <span class="file-label">
              Upload frequency response files
            </span>
          </span>
        </b-upload>
    </section>
    <section class="result">
      <p>Result:</p>
      <b-input v-model="result" type="textarea" rows="15" readonly></b-input>
    </section>
  </div>
</template>
<script>
export default {
  name: 'FindSimilarPage',

  head () {
    return {
      title: this.$config.title_prefix + 'Predict Tonality/Technicality',
      script: [
        { src: 'https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.0.0/dist/tf.min.js' },
        { src: 'https://rohsa.gitlab.io/graphtool/equalizer.js' }
      ]
    }
  },

  data () {
    return {
      octaveBands: [20, 22.4, 25.1, 28.2, 31.7, 35.6, 40.0, 44.9, 50.4, 56.6, 63.5, 71.3, 80.0, 89.8, 100, 112, 125, 140, 157, 176, 197, 221, 248, 278, 312, 350, 392, 440, 493, 553, 620, 695, 780, 875, 982, 1100, 1230, 1380, 1540, 1720, 1930, 2160, 2420, 2710, 3040, 3410, 3820, 4280, 4800, 5380, 6030, 6760, 7580, 8500, 9540, 10700, 12010, 13480, 15130, 16980, 19050, 20000],
      normalizeIndex: 29,
      normalizeScale: 0.1,
      valueToRanks: [['S+', 1.0], ['S', 0.875], ['S-', 0.75], ['A+', 0.625], ['A', 0.5], ['A-', 0.375], ['B+', 0.25], ['B', 0.125], ['B-', 0.0], ['C+', -0.125], ['C', -0.25], ['C-', -0.375], ['D+', -0.5], ['D', -0.625], ['D-', -0.75], ['E', -0.875], ['F', -1.0]],
      useRelativeSPL: true,
      tonalityModelUrl: 'https://rohsa.gitlab.io/fr_placebo_calculator/tonality_dense.tfjs/model.json',
      technicalityModelUrl: 'https://rohsa.gitlab.io/fr_placebo_calculator/technicality_dense.tfjs/model.json',
      tonalityModel: null,
      technicalityModel: null,
      files: [],
      result: ''
    }
  },

  methods: {
    async loadModels () {
      try {
        if (!this.tonalityModel) {
          this.tonalityModel = await tf.loadLayersModel(this.tonalityModelUrl)
        }
        if (!this.technicalityModel) {
          this.technicalityModel = await tf.loadLayersModel(this.technicalityModelUrl)
        }
        return true
      } catch (e) {
        alert(`Load models failed: ${e}`)
        return false
      }
    },

    loadFR (text) {
      let fr = text.split(/[\r\n]/)
        .map(l => l.trim()).filter(l => l && l[0] !== '*')
        .map(l => l.split(/[\s,;]+/).map(e => parseFloat(e)).slice(0, 2))
        .filter(t => !isNaN(t[0]) && !isNaN(t[1]))
      if (fr.length < 32) {
        return null
      }
      fr = Equalizer.interp(this.octaveBands, fr)
      fr = fr.map(f => (f[1] - fr[this.normalizeIndex][1]) * this.normalizeScale)
      if (this.useRelativeSPL) {
        let v = fr[0]
        let g = []
        for (let f of fr) {
          g.push(f - v)
          v = f
        }
        fr = g
      }
      return fr
    },

    getRankName (score) {
      for (let i = 0; i < this.valueToRanks.length; ++i) {
        let [name, x] = this.valueToRanks[i]
        if (score >= x) {
          if (i > 0) {
            let [prev_name, prev_x] = this.valueToRanks[i-1]
            if (prev_x - score < score - x) {
              return prev_name
            }
          }
          return name
        }
      }
      return this.valueToRanks[this.valueToRanks.length-1][0]
    },

    async fileUploaded () {
      const files = this.files.map(f => f)
      this.files.splice(0, this.files.length)
      if (files.length === 0) {
        alert('No file uploaded')
        return
      }
      if (!await this.loadModels()) {
        return
      }
      const filePromises = files.map((file) => {
        return new Promise((resolve, reject) => {
          const reader = new FileReader();
          reader.onload = (e) => {
            resolve([file.name, e.target.result])
          }
          reader.onerror = (error) => {
            reject(error)
          }
          reader.readAsText(file)
        })
      })
      const fileContents = await Promise.all(filePromises)
      let names = []
      let xs = []
      for (let [filename, text] of fileContents) {
        let fr = this.loadFR(text)
        if (!fr) {
          continue
        }
        const parts = filename.split('.')
        names.push(parts.slice(0, Math.max(parts.length-1, 1)).join('.'))
        xs.push(fr)
      }
      xs = tf.tensor(xs)
      const tonalityResult = await (await this.tonalityModel.predict(xs)).array()
      const technicalityResult = await (await this.technicalityModel.predict(xs)).array()
      let resultLines = []
      for (let i = 0; i < names.length; ++i) {
        resultLines.push(names[i])
        resultLines.push(`  Tonality: ${this.getRankName(tonalityResult[i][0])}`)
        resultLines.push(`  Technicality: ${this.getRankName(technicalityResult[i][0])}`)
      }
      this.result = resultLines.join('\n')
    }
  }
}
</script>
<style>
  .placebo-img {
    width: 100px;
    float: left;
    margin-right: 10px;
  }

  .result textarea {
    font-size: 12px;
  }
</style>

