<template>
  <div class="footer">
    <span class="copyright">
      © 2022 Rohsa All rights reserved. 
    </span>
  </div>
</template>
<style>
  .footer {
    height: 50px;
    border-top: 1px solid #ccc;
    padding: 0 8px;
  }
  .footer > .copyright {
    font-size: 16px;
    font-weight: normal;
    line-height: 48px;
  }
</style>

