<template>
  <div class="header">
    <h1><a href="/">Rohsa's Workshop</a></h1>
  </div>
</template>
<style>
  .header {
    height: 50px;
    background-color: #C82647;
    padding: 0 8px;
  }
  .header > h1 {
    font-size: 20px;
    line-height: 50px;
    padding: 0;
    margin: 0;
  }
  .header > h1 > a {
    text-decoration: none;
    color: #fff;
  }
</style>

