<template>
  <div class="page-container">
    <Header />
    <div class="page-content">
      <Nuxt />
    </div>
    <Footer />
  </div>
</template>
<style>
  html, body, #__nuxt, #__layout {
    height: 100%;
  }
  body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 0;
    margin: 0;
  }
  h1 {
    font-size: 1.3em;
  }
  h2 {
    font-size: 1.1em;
  }
  ul > li {
    margin: 0 0 4px 0;
  }
  .page-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  .page-content {
    padding: 16px;
    flex-grow: 1;
  }
  .article > h1, .article > section {
    margin-bottom: 0.7em;
  }
</style>
