<template>
  <div class="index-page">
    <section>
      <h2>Tools:</h2>
      <ul>
        <li><a href="/graphtool/" target="_blank">Graph Tool</a></li>
        <li><a href="/tools/predict_placebo" target="_blank">Predict Tonality/Technicality</a></li>
      </ul>
    </section>
    <section>
      <h2>Find Similar IEM/Headphones:</h2>
      <ul>
        <li v-for="db of similar_databases" :key="db.key">
          <a :href="`/tools/find_similar?db=${db.key}`">{{ db.name }}</a>
        </li>
      </ul>
    </section>
    <section>
      <h2>Articles:</h2>
      <ul>
        <li><a href="/articles/factors-other-than-frequency-response" target="_blank">Factors other than frequency response</a></li>
        <li><a href="/articles/quit-ief-and-stop-updates" target="_blank">Quit IEF (In-Ear Fidelity) server and stop updates of my work</a></li>
      </ul>
    </section>
    <section>
      <h2>Links:</h2>
      <ul>
        <li><a href="https://gitlab.com/rohsa" target="_blank">Gitlab</a> (Create issue here if you have any problem)</li>
      </ul>
    </section>
  </div>
</template>
<script>
import FindSimilarInfo from "../data/find_similar.json"

export default {
  name: 'IndexPage',

  data () {
    return {
      similar_databases: Object.keys(FindSimilarInfo).sort().map(
        key => ({ key, name: FindSimilarInfo[key].name }))
    }
  }
}
</script>

